/*
    Image credits:
    uifaces.com (http://uifaces.com/authorized)
*/

#login { display: none; }
.login,
.logout { 
    position: absolute; 
    top: -3px;
    right: 0;
}
.page-header { position: relative; }
.reviews {
    color: #555;    
    font-weight: bold;
    margin: 10px auto 20px;
}
.notes {
    color: #999;
    font-size: 12px;
}
.media .media-object { max-width: 120px; }
.media-body { position: relative; }
.media-date { 
    position: absolute; 
    right: 25px;
    top: 25px;
}
.media-date li { padding: 0; }
.media-date li:first-child:before { content: ''; }
.media-date li:before { 
    content: '.'; 
    margin-left: -2px; 
    margin-right: 2px;
}
.media-comment { margin-bottom: 20px; }
.media-replied { margin: 0 0 20px 50px; }
.media-replied .media-heading { padding-left: 6px; }

.btn-circle {
    font-weight: bold;
    font-size: 12px;
    padding: 6px 15px;
    border-radius: 20px;
}
.btn-circle span { padding-right: 6px; }
.embed-responsive { margin-bottom: 20px; }
.tab-content {
    padding: 50px 15px;
    border: 1px solid #ddd;
    border-top: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.uploadPhoto {
    position: absolute;
    top: 25%;
    left: 25%;
    display: none;
    width: 50%;
    height: 50%;
    color: #fff;    
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;    
    background-color: rgba(0,0,0,.3);
    border-radius: 50px;
    cursor: pointer;
}

/* Map */
.map-container-7{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-7 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

/* Image Upload */
.upload-drop-zone {
    height: 200px;
    border-width: 2px;
    margin-bottom: 20px;
  }
  
  /* skin.css Style*/
  .upload-drop-zone {
    color: #ccc;
    border-style: dashed;
    border-color: #ccc;
    line-height: 200px;
    text-align: center
  }
  .upload-drop-zone.drop {
    color: #222;
    border-color: #222;
  }
  
  
  .image-preview-input {
      position: relative;
      overflow: hidden;
      margin: 0px;    
      color: #333;
      background-color: #fff;
      border-color: #ccc;    
  }
  .image-preview-input input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
  }
  .image-preview-input-title {
      margin-left:2px;
  }



  /* Event list */
  @import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic");
  .event-list {
      list-style: none;
      font-family: 'Lato', sans-serif;
      margin: 0px;
      padding: 0px;
  }
  .event-list > li {
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 0px 5px rgb(51, 51, 51);
      box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
      padding: 0px;
      margin: 0px 0px 20px;
  }
  .event-list > li > time {
      display: inline-block;
      width: 100%;
      color: rgb(255, 255, 255);
      background-color: rgb(197, 44, 102);
      padding: 5px;
      text-align: center;
      text-transform: uppercase;
  }
  .event-list > li:nth-child(even) > time {
      background-color: rgb(165, 82, 167);
  }
  .event-list > li > time > span {
      display: none;
  }
  .event-list > li > time > .day {
      display: block;
      font-size: 56pt;
      font-weight: 100;
      line-height: 1;
  }
  .event-list > li time > .month {
      display: block;
      font-size: 24pt;
      font-weight: 900;
      line-height: 1;
  }
  .event-list > li > img {
      width: 100%;
  }
  .event-list > li > .info {
      padding-top: 5px;
      /*text-align: center;*/
  }
  .event-list > li > .info > .title {
      font-size: 17pt;
      font-weight: 700;
      margin: 0px;
  }
  .event-list > li > .info > .desc {
      font-size: 13pt;
      font-weight: 300;
      margin: 0px;
  }
  .event-list > li > .info > ul,
  .event-list > li > .social > ul {
      display: table;
      list-style: none;
      margin: 10px 0px 0px;
      padding: 0px;
      width: 100%;
      text-align: center;
  }
  .event-list > li > .social > ul {
      margin: 0px;
  }
  .event-list > li > .info > ul > li,
  .event-list > li > .social > ul > li {
      display: table-cell;
      cursor: pointer;
      color: rgb(30, 30, 30);
      font-size: 11pt;
      font-weight: 300;
      padding: 3px 0px;
  }
  .event-list > li > .info > ul > li > a {
      display: block;
      width: 100%;
      color: rgb(30, 30, 30);
      text-decoration: none;
  } 
  .event-list > li > .social > ul > li {    
      padding: 0px;
  }
  .event-list > li > .social > ul > li > a {
      padding: 3px 0px;
  } 
  .event-list > li > .info > ul > li:hover,
  .event-list > li > .social > ul > li:hover {
      color: rgb(30, 30, 30);
      background-color: rgb(200, 200, 200);
  }
  .facebook a,
  .twitter a,
  .google-plus a {
      display: block;
      width: 100%;
      color: rgb(75, 110, 168) !important;
  }
  .twitter a {
      color: rgb(79, 213, 248) !important;
  }
  .google-plus a {
      color: rgb(221, 75, 57) !important;
  }
  .facebook:hover a {
      color: rgb(255, 255, 255) !important;
      background-color: rgb(75, 110, 168) !important;
  }
  .twitter:hover a {
      color: rgb(255, 255, 255) !important;
      background-color: rgb(79, 213, 248) !important;
  }
  .google-plus:hover a {
      color: rgb(255, 255, 255) !important;
      background-color: rgb(221, 75, 57) !important;
  }

  @media (min-width: 768px) {
      .event-list > li {
          position: relative;
          display: block;
          width: 100%;
          height: 120px;
          padding: 0px;
      }
      .event-list > li > time,
      .event-list > li > img  {
          display: inline-block;
      }
      .event-list > li > time,
      .event-list > li > img {
          width: 120px;
          float: left;
      }
      .event-list > li > .info {
          background-color: rgb(245, 245, 245);
          overflow: hidden;
      }
      .event-list > li > time,
      .event-list > li > img {
          width: 120px;
          height: 120px;
          padding: 0px;
          margin: 0px;
      }
      .event-list > li > .info {
          position: relative;
          height: 120px;
          text-align: left;
          padding-right: 40px;
      }	
      .event-list > li > .info > .title, 
      .event-list > li > .info > .desc {
          padding: 0px 10px;
      }
      .event-list > li > .info > ul {
          position: absolute;
          left: 0px;
          bottom: 0px;
      }
      .event-list > li > .social {
          position: absolute;
          top: 0px;
          right: 0px;
          display: block;
          width: 40px;
      }
      .event-list > li > .social > ul {
          border-left: 1px solid rgb(230, 230, 230);
      }
      .event-list > li > .social > ul > li {			
          display: block;
          padding: 0px;
      }
      .event-list > li > .social > ul > li > a {
          display: block;
          width: 40px;
          padding: 10px 0px 9px;
      }
  }